*{
    padding: 1em;

}

a{
    text-decoration: none;
    // color: #fff;
}

  .flex-spacer {
    flex: 1 1 auto;
  }
  
  .search-box {
    width: 300px;
    max-height: 10px;
  }
  
  .search-box mat-form-field {
    margin-right: 16px;
  }
  
  .search-box mat-icon {
    color: rgba(0, 0, 0, 0.54);
  }
  
  .search-box input {
    padding-left: 8px;
  }

  input {
    min-width: 15em;
    max-height: 2em;
  }



mat-form-field{
    max-height: 2em !important;
}



  