<mat-sidenav-container>
  <mat-sidenav *ngIf="isLoggedIn()" mode="side" opened>
    <mat-toolbar>
      <button mat-button routerLink="/" style="margin-left: -1.5em !important">
        <span appFont20>Admin</span>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <!-- Navbrand -->
      <a mat-line routerLink="/students">Manage Students</a>
    </mat-nav-list>

    <mat-nav-list>
      <a mat-line routerLink="/courses">Manage Courses</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button routerLink="/about">About</button>
      <a
        mat-button
        target="_blank"
        href="https://github.com/NeneWang/lista-alumnos"
        >Github</a
      >

      <span class="flex-spacer"></span>
      <button mat-button routerLink="/dashboard">Dashboard</button>
      <button *ngIf="!isLoggedIn()" mat-button routerLink="/auth/login">
        Login
      </button>
      <div *ngIf="isLoggedIn()">
        <span>{{getAuthName()}}</span>
        <button mat-button routerLink="/auth/logout" (click)="logout()">
          Logout
        </button>
      </div>
    </mat-toolbar>

    <div class="page-wrapper">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
  <!-- 
  <mat-sidenav-content>

  </mat-sidenav-content> -->
</mat-sidenav-container>
