.mediums-container {
  // display: flex;
  flex-direction: column;
}

.mat-checkbox {
  margin-bottom: 8px;
  margin-left: 1em!important;
}


.full-width {
  width: 90%;
}

.mid-width {
  min-width: 25em;
}
