<div *ngIf="!upload_succeeded">
  <form [formGroup]="form">
    <div>
      <br />
      <mat-form-field appearance="outline" class="mid-width">
        <mat-label>Title of Work</mat-label>
        <input
          formControlName="titleOfWork"
          matInput
          type="text"
          class="input-height"
        />
        <mat-error *ngIf="form.get('titleOfWork')?.hasError('required')">
          Title is required
        </mat-error>
      </mat-form-field>
      <br />

      <fieldset>
        <legend>Medium *</legend>
        <div formGroupName="mediums" class="mediums-container">
          <mat-checkbox class="mat-checkbox" formControlName="Photography"
            >Photography</mat-checkbox
          >
          <mat-checkbox class="mat-checkbox" formControlName="Painting"
            >Painting</mat-checkbox
          >
          <mat-checkbox class="mat-checkbox" formControlName="MixedMedia"
            >Mixed Media</mat-checkbox
          >
          <mat-checkbox class="mat-checkbox" formControlName="Print"
            >Print</mat-checkbox
          >
          <mat-checkbox class="mat-checkbox" formControlName="Drawing"
            >Drawing</mat-checkbox
          >
          <mat-checkbox class="mat-checkbox" formControlName="DigitalMedia"
            >Digital Media</mat-checkbox
          >
          <mat-checkbox class="mat-checkbox" formControlName="Film"
            >Film</mat-checkbox
          >
          <mat-checkbox class="mat-checkbox" formControlName="Literary"
            >Literary</mat-checkbox
          >
          <mat-checkbox class="mat-checkbox" formControlName="Music"
            >Music</mat-checkbox
          >
          <mat-checkbox
            class="mat-checkbox"
            formControlName="Other"
            (change)="onOtherChange($event)"
            >Other</mat-checkbox
          >
        </div>
      </fieldset>

      <br />
      <div *ngIf="showOtherField">
        <mat-form-field appearance="outline">
          <mat-label>Other Medium</mat-label>
          <input formControlName="otherMedium" matInput type="text" />
        </mat-form-field>
      </div>

      <mat-label>Artist Statement *</mat-label>
      <textarea
        id="artist-statement"
        name="artistStatement"
        maxlength="150"
        rows="5"
        formControlName="artistStatement"
        class="full-width"
      ></textarea>
      <mat-error *ngIf="form.get('artistStatement')?.hasError('required')">
        Description is required
      </mat-error>


      <!-- <app-upload /> -->
       <br>
      <h5>Artwork</h5>
      <div>
        <input type="file" (change)="onFileSelected($event)" />
        <br />
        <br />
        <!-- onUpload -->
        <div *ngIf="uploadProgress > 0">
          <p>Progress: {{ uploadProgress }}%</p>
        </div>
        <div *ngIf="uploadMessage">
          <p>{{ uploadMessage }}</p>
        </div>
      </div>

      <p>
        or if you have a file larger than 200mb, or a youtue/third party link
        please provide the link.
      </p>

      <div>
        <mat-label>Enter Submission Link</mat-label>
        <br />
        <input
          matInput
          class="full-width"
          id="submission_link"
          name="submission_link"
          type="text"
          id="submission_link"
          name="submission_link"
          formControlName="submission_link"
        />
      </div>
      <br />
      <button type="button" (click)="submit()">Submit</button>
    </div>
  </form>
</div>
