<div class="button-container">
  <button
    *ngIf="!is_participant"
    class="btn-action"
    (click)="togglejoinEvent()"
  >
    Join <i class="heart-icon">&#9825;</i>
  </button>
  <div *ngIf="is_participant">
    <button class="btn-action">Sign Up Form</button> &nbsp;
    <button class="btn-action">Create Artwork</button>&nbsp;
    <button class="btn-action" (click)="togglejoinEvent()">Leave</button> 
  </div>
</div>
<div *ngIf="event_data" class="profile-container">
  <div class="profile-header">
    <img [src]="event_data.image" alt="Profile Image" class="profile-image" />
    <div class="profile-info">
      <h1>{{ event_data.title }}</h1>
      <p>{{ event_data.description }}</p>
      <div class="profile-tags">
        <span *ngFor="let tag of event_data.tags">{{ tag }}</span>
      </div>
    </div>
  </div>

  <div class="profile-projects" *ngIf="!is_participant">
    <div class="profile-projects">
      <app-content-bloc
        [initialItems]="event_data.projects"
        [initialTags]="[]"
      ></app-content-bloc>
    </div>
  </div>

  <div class="profile-projects" *ngIf="is_participant">
    <div class="profile-projects">
      <app-content-bloc-editable
        [initialItems]="event_data.projects"
        [initialTags]="[]"
        [additional_event_parameters]="event_slug"
      ></app-content-bloc-editable>
    </div>
  </div>
</div>
