<form [formGroup]="loginForm">
  <div>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="email" class="input-height" />
    </mat-form-field>
    <br />
    <mat-form-field class="w-30" appearance="outline" >
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password" class="input-height" />
    </mat-form-field>
  </div>

  <button (click)="login()" mat-flat-button color="primary">Login</button>
  <button (click)="anonymousLogin()" mat-flat-button color="primary" >Anonymous Login</button>
</form>
