.full-width {
    width: 100%;
}

.input-height {
    height: 3em !important;
}

.mat-form-field {
    display: block;
}

.mat-form-field-label {
    white-space: nowrap;
    overflow: visible;
    text-overflow: clip;
}