<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item>
        <a mat-line routerLink="/dashboard">Dashboard</a>
      </mat-list-item>
      <mat-list-item>
        <a mat-line routerLink="/profile">Profile</a>
      </mat-list-item>
      <mat-list-item>
        <a mat-line routerLink="/messages">Messages</a>
      </mat-list-item>
      <!-- Add more sidebar items as needed -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Your main content goes here -->
  </mat-sidenav-content>
</mat-sidenav-container>
