<div *ngIf="!upload_succeeded">
  <form [formGroup]="form">
    <div>
      <br />
      <mat-form-field appearance="outline" class="mid-width">
        <mat-label>Title of Event</mat-label>
        <input formControlName="title" matInput type="text" class="input-height" />
        <mat-error *ngIf="form.get('title')?.hasError('required')">
          Title is required
        </mat-error>
      </mat-form-field>

      <br />
      <br />

      <mat-form-field appearance="outline" class="mid-width">
        <mat-label>Start Date-time</mat-label>
        <input
          matInput
          class="mid-width"
          type="datetime-local"
          placeholder="start date"
          formControlName="start_date"
        />
        <mat-error *ngIf="form.get('start_date')?.hasError('required')">
          Valid Start Date is required
        </mat-error>
      </mat-form-field>

      <br />
      <br />
      <mat-form-field appearance="outline" class="mid-width">
        <mat-label>End Date-time</mat-label>
        <input
          matInput
          class="mid-width"
          type="datetime-local"
          placeholder="end date"
          formControlName="end_date"
        />
        <mat-error *ngIf="form.get('end_date')?.hasError('required')">
          Valid End Date is required
        </mat-error>
      </mat-form-field>

      <br />

      <fieldset>
        <legend>Event Type</legend>
        <div formGroupName="mediums" class="mediums-container">
          <mat-checkbox class="mat-checkbox" formControlName="showcase">Showcase</mat-checkbox>
          <mat-checkbox class="mat-checkbox" formControlName="competition">Competition</mat-checkbox>
          <mat-checkbox class="mat-checkbox" formControlName="gallery">Gallery</mat-checkbox>
          <mat-checkbox class="mat-checkbox" formControlName="performance">Performance</mat-checkbox>
          <mat-checkbox class="mat-checkbox" formControlName="workshop">Workshop</mat-checkbox>
          <mat-checkbox class="mat-checkbox" formControlName="panel">Panel</mat-checkbox>
          <mat-checkbox class="mat-checkbox" formControlName="other" (change)="onOtherChange($event)">
            Other
          </mat-checkbox>
        </div>
      </fieldset>

      <br />
      <div *ngIf="showOtherField">
        <mat-form-field appearance="outline">
          <mat-label>Other Medium</mat-label>
          <input formControlName="otherMedium" matInput type="text" />
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="full-width">
        <textarea
          matInput
          id="description"
          name="description"
          maxlength="150"
          rows="5"
          formControlName="description"
        ></textarea>
        <mat-label>Description</mat-label>
        <mat-error *ngIf="form.get('description')?.hasError('required')">
          Description is required
        </mat-error>
      </mat-form-field>

      <p>Upload your Poster / Cover Image here.</p>

      <!-- <app-upload /> -->

      <div>
        <input type="file" (change)="onFileSelected($event)" />
        <br />
        <br />
        <div *ngIf="uploadProgress > 0">
          <p>Progress: {{ uploadProgress }}%</p>
        </div>
        <div *ngIf="uploadMessage">
          <p>{{ uploadMessage }}</p>
        </div>
        <button *ngIf="selectedFile" (click)="removeUpload()">Remove File</button>
      </div>

      <br />

      <p>
        If you want to track additional questions to your participants, or want
        them to fill out additional applications, please feel free to include
        the links here.
      </p>
      <div>
        <mat-label>Additional Form Link</mat-label>
        <br />
        <input
          matInput
          class="full-width"
          type="text"
          formControlName="poster_link"
        />
      </div>

      <br />

      <button type="button" (click)="submit()">Submit</button>
    </div>
  </form>
</div>

<div *ngIf="upload_succeeded">
  <h1>Event Created Successfully</h1>
  <p>Title: {{ form.get('title')?.value }}</p>
  <p>Starts: {{ form.get('start_date')?.value }}</p>
  <p>End Date: {{ form.get('end_date')?.value }}</p>
  <p>Description: {{ form.get('description')?.value }}</p>
  <p *ngIf="form.get('poster_link')?.value">
    Additional Forms: {{ form.get('poster_link')?.value }}
  </p>
  <p>Mediums: {{ form.get('mediums')?.value?.join(', ') }}</p>

  <button (click)="resetForm()">Create Another Event</button>
  <br />
  <br>
  <button routerLink="/event">Go to Events Page</button>
</div>
