<form [formGroup]="form">
  <div>
    <br />
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Title of Event</mat-label>
      <input
        formControlName="title"
        matInput
        type="text"
        class="input-height"
      />
    </mat-form-field>

    <br />
    <br />

    <mat-form-field appearance="outline" class="mid-width">
      <mat-label>Start Date-time</mat-label>
      <input
        class="mid-width"
        matInput
        value="2020-01-01T11:00"
        type="datetime-local"
        placeholder="start date"
        formControlName="start_date"
      />
    </mat-form-field>

    <br>
    <br>
    <mat-form-field appearance="outline" class="mid-width">
      <mat-label>End Date-time</mat-label>
      <input
        matInput
        class="mid-width"
        type="datetime-local"
        placeholder="end date"
        formControlName="end_date"
      />
    </mat-form-field>

    <br />

    <fieldset>
      <legend>Event Type</legend>
      <div formGroupName="mediums" class="mediums-container">
        <mat-checkbox formControlName="showcase">Showcase</mat-checkbox>
        <mat-checkbox formControlName="competition">Competition</mat-checkbox>
        <mat-checkbox formControlName="gallery">Gallery</mat-checkbox>

        <mat-checkbox formControlName="performance">performance</mat-checkbox>
        <mat-checkbox formControlName="workshop">Workshop</mat-checkbox>

        <mat-checkbox formControlName="panel">Panel</mat-checkbox>

        <mat-checkbox formControlName="other" (change)="onOtherChange($event)"
          >Other</mat-checkbox
        >
      </div>
    </fieldset>

    <br />
    <div *ngIf="showOtherField">
      <mat-form-field appearance="outline">
        <mat-label>Other Medium</mat-label>
        <input formControlName="otherMedium" matInput type="text" />
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="full-width">
        <textarea
        matInput
        id="description"
        name="description"
        maxlength="150"
        rows="5"
        formControlName="description"
        ></textarea>
        <mat-label>Description</mat-label>
    </mat-form-field>

    <p>Upload your Poster / Cover Image here.</p>

    <!-- <app-upload /> -->

    <div>
      <input type="file" (change)="onFileSelected($event)" />
      <br />
      <br />
      <div *ngIf="uploadProgress > 0">
        <p>Progress: {{ uploadProgress }}%</p>
      </div>
      <div *ngIf="uploadMessage">
        <p>{{ uploadMessage }}</p>
      </div>
      <button *ngIf="this.selectedFile" (click)="removeUpload()">
        Remove File
      </button>
    </div>

    <br />

    <p>
      If you want to track additional questions to your participants, or want
      them to fill out additional applications, please feel free to inlcude the
      links here.
    </p>
    <div>
      <mat-label>Additional Form Link</mat-label>
      <br />
      <input
        matInput
        id="poster_link"
        class="full-width"
        name="poster_link"
        type="text"
        id="poster_link"
        name="poster_link"
        formControlName="poster_link"
      />
    </div>

    <br />

    <button type="button" (click)="submit()">Submit</button>
  </div>
</form>
