<div>
    <!-- <pre>
        {{students$ | async | json}}
    </pre> -->
    <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Average</th>
              <th>Major</th>
              <th>Minor</th>
              <th>Credits</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of studentsFormatted$ | async">
              <td>{{ student.fullName }}</td>
              <td>{{ student.average }}</td>
              <td>{{ student.major }}</td>
              <td>{{ student.minor }}</td>
              <td>{{ student.credits }}</td>
            </tr>
          </tbody>
        </table>
        
    </div>
      


</div>