.events-container {
    padding: 20px;
}

.events-cards {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    margin-bottom: 10px;
}

.event-card {
    min-width: 300px;

    margin-right: 10px;
}

mat-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-bottom: 2px solid black;
    height: 9em !important;
    width: 20em;
    border-radius: 5%;
}

.card-text {
    flex: 1;
    margin-right: 10px;
}

.card-image {
    max-width: 5em;
    max-height: 5em;
    margin-left: 1em;
    margin-right: 1em;
}

.host-button {
    margin-bottom: 20px;
}

.card-title {
    min-height: 2em;
}

.card-description {
    font-size: .7em;
}


.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 5%;
}





